[submodule "ardana-service"]
	path = ardana-service
	url = https://github.com/ArdanaCLM/ardana-service.git
	branch = master
[submodule "ardana-installer-ui"]
	path = ardana-installer-ui
	url = https://github.com/ArdanaCLM/ardana-installer-ui.git
	branch = master
[submodule "keystone"]
	path = docker-keystone
	url = https://github.com/GarySmith/docker-keystone.git
	branch = master
